{% extends 'base.html' %}

{% load static %}

{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Корзина товаров</title>
    <link rel="stylesheet" href="{% static './css/main.css' %}">
</head>
<body>

    <section class="section-cart">
        <header class="section-cart__header">
            <div class="container">
                <h1 class="title-1">Cart</h1>
            </div>
        </header>
        {% if cart %}
        <div class="section-cart__body">
            <div class="container">

                <section class="cart">
                    <header class="cart-header">
                        <div class="cart-header__title">name</div>
                        <div class="cart-header__count">quantity</div>
                        <div class="cart-header__cost">price</div>
                    </header>
                    {% for item in cart %}
                      {% with i=item.product %}
                        <section class="product">
                            <div class="product__img"><img src="{{ i.photo.url }}" alt="Apple MacBook Air 13"></div>
                            <div class="product__title">{{i.title}}</div>
                            <div class="product__count">
                                <div class="count">

                                    <div class="count__box">
                                        <input type="number" class="count__input" min="1" max="100" value="{{ item.quantity }}">
                                    </div>

                                    <div class="count__controls">
                                        <a href="{%url 'cart_quantity_plus' i.pk %}"><button type="button" class="count__up">
                                            <img src="{% static './img/icons/icon-up.svg' %}" alt="Increase"><li class="list-inline-item"></li>
                                        </button></a>
                                        <a href="{%url 'cart_quantity_min' i.pk%}"><button type="button" class="count__down">
                                            <img src="{% static './img/icons/icon-down.svg' %}" alt="Decrease">
                                        </button></a>
                                    </div>
                                </div>
                            </div>
                            <div class="product__price">{{item.total_price}} руб.</div>
                            <div class="product__controls">
                                <button type="button"><a href="{% url 'cart_remove' i.pk%}">
                                    <img src="{% static './img/icons/cross.svg' %}" alt="Delete">
                                </a></button>
                            </div>
                        </section>
                      {% endwith %}
                    {% endfor %}



                    <footer class="cart-footer">
                        <p class="text-center"><a href="{% url 'clear_all' %}" class="btn btn-success">Delete Cart</a></p>
                        <div class="cart-footer__count">{{cart.get_total_quantity}} products</div>
                        <div class="cart-footer__price">{{ cart.get_total_price }} руб.</div>
                    </footer>
                </section>

            </div>

        </div>
        <p><p class="text-center"><a href="#" class="btn btn-success">Create order</a></p></p>
        {% else %}
        <header class="section-cart__header">
            <h2 class="title-1">Cart is clean</h2>
            <h1 class="title-1">Add new clothes at <a href="{% url 'shop' %}"><h1 class="title-1">shop</h1></a></h1>
        </header>
        {% endif %}
    </section>
</body>
</html>

{% endblock %}